
.header__logo,
.footer__logo{
  width: 96px;
  height: 31px;
}

.header__logo{
  background-image: url('../images/DOYOGA-logo.png');
}

.jumbotron{
  background-image: url('../images/jumbotron.jpeg');
  background-position: center bottom;
  height: 560px;
}

