
.header__logo,
.footer__logo{
  width: 96px;
  height: 31px;
}

.header{
  &__logo{
    background-image: url('../images/DOYOGA-logo.png');
  }
  &.top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1020;
    box-shadow: 0px 2px 6px rgba(0,0,0,.3);
  }
}

.jumbotron{
  background-image: url('../images/jumbotron.jpeg');
  background-position: center bottom;
  height: 560px;
}

