
.badge{
  //基礎樣式
  padding: 0.25rem 1rem;
  font-size: 14px;
  border-radius: 50rem;
  font-weight: $font-weight-light;
  line-height: 1.5;
  color: $white;
  background-color: $secondary;
  &__top-left{
    position: absolute;
    left: 1.5rem;
    top: -10px;
  }
}