
.table{
  &__responsive-container{
    overflow-x: scroll;
  }
  &__curriculum{
    width: 920px;
    margin: 0 auto;
  }
  th,td{
    color: $secondary;
    background-color: $white;
    border-bottom: 1px solid $thirdly;
    font-weight: normal;
    padding: 0.5rem;
  }
  thead th{
    text-align: center;
  }
  tr th:first-child{
    border-right: 1px solid $thirdly;
  }
}